{% extends 'navbar.html' %}
{% load static %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <body class="index-page sidebar-collapse">
    <script>

        $(document).ready(function () {
            $('.collapse').removeClass('show');

        });
    </script>
    <!-- Navbar -->
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true"
                 style="background-image:url('{% static 'assets/img/header.jpg' %}')">
            </div>
            <div class="container">
                <div class="content-center brand">
                    <h1 class="h1-seo">Interview Preparations Questions for you</h1>
                    <h2>Scroll down to see yours ;)</h2>
                    <br>
                </div>


            </div>
        </div>
        <div class="main">
            <div class="section section-download" id="#download-section" data-background-color="black">
                <div class="container">
                    <div class="row justify-content-md-center">
                    </div>
                    <div class="row text-center mt-5">
                        <div class="col-md-8 ml-auto mr-auto">
                            <div>
                                <h2 class="card-title">Your key skills are:
                                    {% for skill in skills %}{{ skill }}, {% endfor %}</h2>
                                <br>


                                <div>
                                    {% for question_obj in questions %}

                                        <div id="accordion" role="tablist" aria-multiselectable="true"
                                             class="card-collapse">
                                            <div class="card card-plain">
                                                <div class="card-header" role="tab" id="h{{ question_obj.id }}">
                                                    <a data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapseOne" style="font-size: 20px"
                                                       data-target="#c{{ question_obj.id }}"
                                                            {% if forloop.counter == 1 %}
                                                       aria-expanded="false"
                                                            {% else %}
                                                       aria-expanded="false"
                                                            {% endif %}
                                                       aria-controls="c{{ question_obj.id }}">
                                                        {{ question_obj.question }}


                                                    </a>
                                                </div>

                                                <div id="c{{ question_obj.id }}" class="collapse show" role="tabpanel"
                                                     aria-labelledby="h{{ question_obj.id }}">
                                                    <div class="card-body" style="font-size: 15px">
                                                        Answer: {{ question_obj.answer }}
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sart Modal -->
        <!--  End Modal -->
        <!-- Mini Modal -->
        <!--  End Modal -->
    </div>
    <!--   Core JS Files   -->

    </body>

    </html>
{% endblock %}